<section class="card">
  <a href="/posts/{{id}}">
    <h1>Posted by {{user.username}} on {{formatDate created_on}}</h1>
    <header>{{title}}</header>
    <p> {{text}} </p>
    {{!-- {{> comments-details}} --}}
  </a>
</section>